//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// normal characters
#define DE_Z KC_Y
#define DE_Y KC_Z

#define DE_SS KC_MINS
#define DE_ADIA KC_QUOT
#define DE_ODIA KC_SCLN
#define DE_UDIA KC_LBRC

#define DE_CIRC KC_GRAVE // accent circumflex ^ and ring °
#define DE_ACUT KC_EQL // accent acute ´ and grave `
#define DE_PLUS KC_RBRC // + and * and ~
#define DE_HASH KC_BSLS // # and '
#define DE_LABK KC_NUBS // < and > and |
#define DE_MINS KC_SLSH // - and _

// shifted characters
#define DE_DEG  LSFT(DE_CIRC) // °
#define DE_EXLM LSFT(KC_1) // !
#define DE_DQUO LSFT(KC_2) // "
#define DE_SECT LSFT(KC_3) // §
#define DE_DLR  LSFT(KC_4) // $
#define DE_PERC LSFT(KC_5) // %
#define DE_AMPR LSFT(KC_6) // &
#define DE_SLSH LSFT(KC_7) // /
#define DE_LPRN LSFT(KC_8) // (
#define DE_RPRN LSFT(KC_9) // )
#define DE_EQL  LSFT(KC_0) // =
#define DE_QUES LSFT(DE_SS) // ?
#define DE_GRV  LSFT(DE_ACUT) // `
#define DE_ASTR LSFT(DE_PLUS) // *
#define DE_QUOT LSFT(DE_HASH) // '
#define DE_RABK LSFT(DE_LABK) // >
#define DE_COLN LSFT(KC_DOT) // :
#define DE_SCLN LSFT(KC_COMM) // ;
#define DE_UNDS LSFT(DE_MINS) // _

// Alt Gr-ed characters
#define DE_SUP2 ALGR(KC_2) // ²
#define DE_SUP3 ALGR(KC_3) // ³
#define DE_LCBR ALGR(KC_7) // {
#define DE_LBRC ALGR(KC_8) // [
#define DE_RBRC ALGR(KC_9) // ]
#define DE_RCBR ALGR(KC_0) // }
#define DE_BSLS ALGR(DE_SS) // backslash
#define DE_AT  ALGR(KC_Q) // @
#define DE_EURO ALGR(KC_E) // €
#define DE_TILD ALGR(DE_PLUS) // ~
#define DE_PIPE ALGR(DE_LABK) // |

// Launchy
#define ALT_SPC LALT(KC_SPC)

/ {
    behaviors {
        backspacedelete: backspacedelete {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKSPACEDELETE";
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        activate_mouse {
            bindings = <&tog 5>;
            key-positions = <35 34>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // 0
        base {
            bindings = <
       &kp Q           &kp W           &kp E        &kp R        &kp T      &kp Y      &kp U        &kp I        &kp O            &kp P
       &mt LEFT_WIN A  &mt LEFT_ALT S  &mt LCTRL D  &mt LSHFT F  &kp G      &kp H      &mt RSHFT J  &mt RCTRL K  &mt RIGHT_ALT L  &mt RIGHT_GUI F24
&mo 2  &kp Z           &kp X           &kp C        &kp V        &kp B      &kp N      &kp M        &kp COMMA    &kp DOT          &sl 1              &backspacedelete
                                       &mo 4        &kp ESC      &kp RET    &kp SPACE  &kp TAB      &mo 3
            >;
        };

        // 1
        german_special {
            bindings = <
        &trans       &trans     &trans  &trans  &trans    &trans  &kp DE_UDIA  &trans  &kp DE_ODIA  &trans
        &kp KC_QUOT  &kp DE_SS  &trans  &trans  &trans    &trans  &trans       &trans  &trans       &trans
&trans  &trans       &trans     &trans  &trans  &trans    &trans  &trans       &trans  &trans       &trans  &trans
                                &trans  &trans  &trans    &trans  &trans       &trans
            >;
        };

        // 2
        numpad {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp PLUS   &kp N7     &kp N8  &kp N9  &kp KP_ASTERISK
        &trans  &trans  &trans  &trans  &trans    &kp MINUS  &kp N4     &kp N5  &kp N6  &kp FSLH
&trans  &trans  &trans  &trans  &trans  &trans    &kp DOT    &kp N1     &kp N2  &kp N3  &kp COMMA        &trans
                        &trans  &trans  &trans    &trans     &kp EQUAL  &kp N0
            >;
        };

        // 3
        symbols {
            bindings = <
        &trans         &trans            &kp EXCLAMATION   &kp TILDE             &trans           &trans            &kp AT                 &kp QUESTION     &trans             &trans
        &kp LESS_THAN  &kp LEFT_BRACKET  &kp LEFT_BRACE    &kp LEFT_PARENTHESIS  &kp GRAVE        &kp SINGLE_QUOTE  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp GREATER_THAN
&trans  &trans         &trans            &kp LS(NUMBER_3)  &kp DOLLAR            &kp PERCENT      &kp HASH          &kp CARET              &trans           &trans             &trans            &trans
                                         &kp SLASH         &kp PIPE              &kp BACKSLASH    &trans            &kp EQUAL              &trans
            >;
        };

        // 4
        fn+arrows {
            bindings = <
        &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &kp F7    &kp F8    &kp F9  &kp F10    &kp F11
        &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans
&kp F1  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans  &trans     &trans   &kp F12
                        &trans  &trans  &trans    &trans    &trans    &trans
            >;
        };

        // 5
        mouse {
            bindings = <
       &none  &none  &none  &none           &none        &none      &none      &none      &none      &none
       &none  &none  &none  &kp KP_NUMLOCK  &mkp MCLK    &none      &mkp LCLK  &mkp RCLK  &mkp MCLK  &none
&none  &none  &none  &none  &none           &none        &none      &none      &none      &none      &none  &none
                     &none  &none           &to 0        &mkp LCLK  &mkp RCLK  &mkp MCLK
            >;
        };
    };
};
